<h1>Mackerel & More!</h1>

<% if @products.any? %>
  <h2>Current Fish Available:</h2>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <h3>We're all out of fish!</h3>
<% end %>

<p><%= link_to "New Fish", new_product_path %></p>
