<!-- <% if @product %>
  <h1>Reviews of <%= @product.name %></h1>

  <p><%= link_to "Write a Review for this fish", new_product_review_path(@product) %></p>
<% else %>
  <h3>There aren't any reviews for this fish. Be the first to leave a review!</h3>
<% end %> -->
