<h1>Reviews of <%= @product.name %></h1>

<% if @product.reviews.any? %>
  <ul>
    <% @product.reviews.each do |review| %>
       <li><%= review.content %></li>
    <% end %>
  </ul>
<% else %>
  <h3>There aren't any reviews for this fish. Be the first to leave a review!</h3>
<% end %>

<p><%= link_to "Write a Review for this fish", new_product_review_path(@product) %></p>
